.pageContent {
  width: 100vw;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: var(--color-background);
}
.goBack {
  margin: 5rem 0 0 5rem;
  width: 10vw;
  height: 5vw;
  max-width: 150px;
  max-height: 40px;
  box-sizing: border-box;
  background-color: var(--color-elements);
  color: var(--color-text);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.countryDetailsContainer {
  width: 100vw;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.countryFlag {
  width: 40%;
  height: 90%;
  max-height: 100%;
}

.countryInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
}

.countryName {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.countryDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 1rem 0;
}

.borderCountriesContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.borderCountriesLabel {
  font-weight: 600;
  color: var(--color-text);
  margin-right: 10px;
}

.borderCountries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap; 
}

.borderCountry {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  background-color: var(--color-elements);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .goBack {
    margin: 2rem 0 0 2rem;
    width: 25vw;
    height: 10vw;
    max-width: 100px;
    max-height: 30px;
  }

  .countryDetailsContainer {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  .countryFlag {
    width: 100%;
    height: 200px;
  }

  .countryName {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .countryInfo {
    width: 100%;
    text-align: start;
  }

  .countryDetails {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .borderCountriesContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
  }

  .borderCountries {
    width: 100%;
    height: auto;
  }

  .borderCountry {
    flex-wrap: wrap;
    width: 70px;
    font-size: 0.8rem;
    text-align: center;
    margin: 0.5rem 0;
  }
}
