.card {
  width: 100%;
  max-width: 300px;
  height: 60vh;
  max-height: 360px;
  background-color: var(--color-elements);
  color: var(--color-text);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.429);
  cursor: pointer;
}

.cardImage {
  height: 50%;
  width: 100%;
}

.cardTitle {
  margin-top: 30px;
  margin-left: 30px;
}

.cardInfo {
  margin-left: 30px;
  color: var(--color-text);
  line-height: 0.8rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    margin-bottom: 30px;
  }
  .cardTitle {
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: hidden;
  }
  .cardInfo {
    font-size: 0.9rem;
  }
}
