:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --text-dark: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207, 26%, 17%);
    --foreground: hsl(0, 0%, 100%);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: var(--very-light-gray);
  color: var(--text-dark);
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
