/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --text-dark: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

} */

:root {
  --color-bg: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
}

:root.dark {
  --color-bg: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 100%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
