.toggle {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .toggle {
    font-weight: 300;
    font-size: 0.8rem;
  }
  
}
